<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta
      content="Mashup templates have been developped by Orson.io team"
      name="author"
    />

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='assets/apple-icon-180x180.png') }}"
    />
    <link
      href="{{ url_for('static', filename='assets/favicon.ico') }}"
      rel="icon"
    />
    <title>Title page</title>

    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>



          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ">
              <li><a href="{{ '/index.html' }}" title="">01 : Home</a></li>
              <li><a href="{{ '/works.html' }}" title="">02 : Project</a></li>
              <li><a href="{{ '/experience.html' }}" title="">03 : Experience</a></li>
              <li><a href="{{ '/certification.html' }}" title="">04 : Certification</a></li>
              <li><a href="{{ '/about.html' }}" title="">05 : About me</a></li>
              <li><a href="{{ '/contact.html' }}" title="">06 : Contact</a></li>
            </ul>

            <ul
              class="nav navbar-nav navbar-right navbar-small visible-md visible-lg"
            >
            <li><a href="./work.html" title="" class="active">001</a></li>
            <li><a href="./work2.html" title="" class="active">002</a></li>
            <li><a href="./work3.html" title="" class="active">003</a></li>
            <li><a href="./work4.html" title="" class="active">004</a></li>
            <li><a href="./work5.html" title="" class="active">005</a></li>
            <li><a href="./work6.html" title="" class="active">006</a></li>
            <li><a href="./work7.html" title="" class="active">007</a></li>
            <li><a href="./work8.html" title="" class="active">008</a></li>
            <li><a href="./work9.html" title="" class="active">009</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="section-container">
      <div class="container">

        <div class="row">
          <div class="col-xs-12">
            <img
              src="static/assets/images/work001-01.jpg"
              class="img-responsive"
              alt=""
            />
            <div class="card-container">
              <div class="text-center">
                <h1 class="h2">002 : Customized Email Generation📧</h1>
              </div>
              <p>
                <b>🌟 Overview:</b> (Client - Dell Technologies)<br>

                The Customized Email Generation System is a cutting-edge solution designed to revolutionize 
                the email marketing process. Leveraging advanced Generative AI techniques, the system tailors 
                persuasive emails based on individualized data from LinkedIn profiles. 
                By personalizing email content, the system aims to enhance user engagement and increase 
                the effectiveness of email campaigns.<br><br>

                🌐 <b>Key Components:</b><br>
                    1. Generative AI (LAMA2):
                    Utilizing state-of-the-art Generative AI, specifically the LAMA2 model, the system generates highly personalized email content. LAMA2's capabilities enable the creation of compelling and contextually relevant messages tailored to each recipient.
                    <br><br>
                    2. LinkedIn Data Integration:
                    The system seamlessly integrates with LinkedIn data, extracting valuable information about recipients. This includes professional background, interests, and other relevant details. The integration ensures that emails are not only personalized but also aligned with recipients' preferences.
                    <br><br>
                    3. User Interface (UI):
                    A user-friendly interface provides an intuitive platform for users to input parameters and preferences. The UI facilitates easy customization of email campaigns, allowing users to specify target audiences and tailor content based on various criteria.
                    <br><br>
                    ⚙️ <b>How It Works:</b><br>
                    - Input Parameters:
                    Users input specific parameters such as target audience, campaign goals, and desired tone. This information guides the AI in crafting personalized email content.
                    <br><br>
                    - LinkedIn Data Analysis:
                    The system analyzes LinkedIn profiles of target recipients, extracting relevant data to understand their professional background, interests, and preferences.
                    <br><br>
                    - Generative AI Content Creation:
                    Leveraging the power of Generative AI (LAMA2), the system generates customized email content for each recipient. The generated content is not only personalized but also persuasive, aiming to resonate with individual recipients.
                    <br><br>
                    - Preview and Editing:
                    Users have the opportunity to preview generated emails and make manual edits if needed. This ensures that the final content aligns with the user's vision and brand voice.
                    <br><br>
                    🚀 <b>Impact:</b><br>
                    1. Improved Engagement:
                    The personalized nature of the emails significantly improves recipient engagement. By delivering content tailored to individual interests, the system increases open rates and encourages interaction.
                    <br><br>
                    2. Enhanced Campaign Effectiveness:
                    Customized emails lead to more effective email marketing campaigns. The system's ability to generate persuasive content contributes to higher conversion rates and improved overall campaign performance.
                    <br><br>
                    3. Time and Resource Efficiency:
                    Automating the email generation process saves time and resources for marketing teams. The system streamlines the campaign creation process, allowing teams to focus on strategy and analysis rather than manual content creation.
                    <br><br>
                    4. Data-Driven Decision Making:
                    The integration of LinkedIn data provides valuable insights for future campaigns. Analyzing recipient responses and interactions allows for continuous improvement and optimization of email marketing strategies.
                    <br><br>
                    💡 <b>Skills Utilized:</b><br>
                    - Generative AI <br>
                    - LAMA2 <br>
                    - FastAPI<br>
                    - Large Language Models(LLM)<br>
                    - Amazon Web Services(AWS)<br>
                    - Python <br>
              
                  </p>

              <!-- <blockquote>
                <p>
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Integer posuere erat a ante."
                </p>
                <small class="pull-right">Irina Martin</small>
              </blockquote> -->
            </div>
          </div>

          <!-- <div class="col-md-8 col-md-offset-2 section-container-spacer">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <img
                  src="static/assets/images/work001-02.jpg"
                  class="img-responsive"
                  alt=""
                />
                <p>Menphis skyline</p>
              </div>
              <div class="col-xs-12 col-md-6">
                <img
                  src="static/assets/images/work001-03.jpg"
                  class="img-responsive"
                  alt=""
                />
                <p>Menphis skyline</p>
              </div>
            </div>
          </div> -->

          <div class="col-xs-12">
            <img
              src="static/assets/images/email_genAI2.png"
              class="img-responsive"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>


    <!-- Project 002: Another Project -->
  <div class="row" id="project002">
    <!-- ... -->
  </div>


    <!-- <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              © UNTITLED | Website created with
              <a
                href="http://www.mashup-template.com/"
                title="Create website with free html template"
                >Mashup Template</a
              >/<a
                href="https://www.unsplash.com/"
                title="Beautiful Free Images"
                >Unsplash</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer> -->

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        navActivePage();
      });
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='main.js') }}"
    ></script>
  </body>
</html>
